# Python for Data Science Bootcamp
## Lecture 4 - Part 1
## Textbook reference: PY4E 

### Chapter 6
### Lesson 7: Strings

Here are the topics for today:

* String concatenation
* Len function
* Indexing and Slicing
* Digging data out of strings using indefinite and definite loops
* IN as logical operators
* Range function

Ok, let's get started...

Note: Converting strings to integers

**String Concatenation**

In [12]:
str1 = "Hello"
str2 = 'World'
bob = str1 + str2
print(bob)
print(str1,str2)

HelloWorld
Hello World

In [1]:
str3 = '123'
str3 = str3 + 1

TypeError: must be str, not int

**String Indexing and Slicing:** Indexing always start at zero. Slicing return a sub-set of string
**REMEMBER it always starts at position zero.**

In [11]:
fruit = 'banana'
letter = fruit[1]
print(letter)

a

In [4]:
zot = 'abc'
print(zot[2])

c

**LEN:** This is a built-in function that returns the length of a string.

In [5]:
fruit = 'banana'
print(len(fruit))

6

**Extracting Data from strings using indefinite loops**

In [6]:
fruit = 'banana'
index = 0 # start at index zero
while index < len(fruit): 
    letter = fruit[index]
    print(index, letter)
    index = index + 1

0 b
1 a
2 n
3 a
4 n
5 a

Extracting Data from strings using definite loops

In [4]:
fruit = 'banana'
for letter in fruit:
    print(letter)

b
a
n
a
n
a

In [5]:
# Counting letters in a string
word = 'banana'
count = 0
for letter in word :
    if letter == 'a' : 
        count = count + 1
print(count)

3

**IN:**  We can use IN as logical operator in Boolean expressions

In [6]:
# Find a character on a string
fruit = 'banana'
'n' in fruit

True

In [7]:
"n" in "banana"

True

## Slicing a string

In [13]:
s = 'Monty Python'
print(s[0:4]) # Start from zero, up to but excluding 4
print(s[6:7]) # Start from six, up to but excluding 7
print(s[6:20]) # Start from six, up to but excluding 7

Mont
P
Python
Mo
thon
Monty Python

In [14]:
print(s[:2]) # First 2 elements (assumes starts at zero)

Mo

In [15]:
print(s[8:]) # Start from position 8 to the end...

thon

In [16]:
print(s[:]) # give me the whole string

Monty Python

In [17]:
print(s)

Monty Python

In [33]:
# Iterating over list of strings
friends = ['Derek', 'Gary', 'Julia']
for friend in friends :
    print('Happy New Year:',  friend)
print('Done!')

Happy New Year: Derek
Happy New Year: Gary
Happy New Year: Julia
Done!

In [26]:
# Slicing from a list of strings
print(friends[1])

Gary

In [2]:
# Can I assign specific characters on a string?
fruit = 'Banana'
fruit[0] = 'b'

TypeError: 'str' object does not support item assignment

## Why did we get a traceback? 

You can't not assign values to a string object

In [19]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
d='123'
#e=a+d - example of invalid operations
print(c)
#print(e)

[1, 2, 3, 4, 5, 6]

In [21]:
t = [9, 41, 12, 3, 74, 15]
t[1:-1] # starting in second (i.e. 1) position to one before last

[41, 12, 3, 74]

In [24]:
t[-1] # Last position

15

In [25]:
lotto = [2, 14, 26, 41, 63]
print(lotto)
lotto[2] = 28 # Assign new value
print(lotto)

[2, 14, 26, 41, 63]
[2, 14, 28, 41, 63]

**Range function:** This is a function used to generate a sequence of numbers.

In [28]:
L = list(range(10)) # Create a list of range(10) elements
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
range?

In [11]:
L3 = [True, "2", 3.0, 4]
[type(item) for item in L3] # Show me types of variables on L3 list

[bool, str, float, int]

In [35]:
print(lotto)
print(len(lotto))
print(fruit)
print(len(fruit))
print(friends)
print(len(friends))

[2, 14, 28, 41, 63]
5
banana
6
['Derek', 'Gary', 'Julia']
3

In [36]:
print(list(range(4)))
print(list(range(1,4)))

[0, 1, 2, 3]
[1, 2, 3]

In [25]:
# How many elements on "var"?
var=list(range(1,10))
print(len(var))
print(var)

9
[1, 2, 3, 4, 5, 6, 7, 8, 9]